$octicons-font-path: '/imported/octicons';

@import "octicons/octicons.scss";
@import "primer-css/primer.scss";
@import "primer-markdown/components/markdown.scss";

@import "components/article.scss";
@import "components/contrainer.scss";
@import "components/markdown.css.scss";
@import "components/title.scss";
@import "components/blog.scss";
@import "components/copyright.scss";
@import "components/meta.scss";
@import "components/user_photo.scss";
@import "components/comma.scss";
@import "components/footer.scss";
@import "components/pagination.scss";
@import "components/user_vcard.scss";
@import "components/comments.scss";
@import "components/header.scss";
@import "components/readmore.scss";
@import "components/wrapper.scss";

html, body {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .blog__aside {
    display: none;
  }

  .blog__content {
    width: 100%;
    padding: 0;
  }
}
