<header class="header vcard">
  <div class="vcard__name">Анциферов Герман</div>
  <div class="vcard__short-bio">
    Привет, мир! Пишу об английском языке, программировании и о чем-то еще ...
  </div>
</header>
