<header class="header">
  <div class="container">
    <div class="user-photo header__user-photo">
      <% link_to '/', class: 'user-photo__link' do %>
        <%= image_tag 'avatar.png', class: 'user-photo__image' %>
      <% end %>
    </div>
    <div class="user-vcard header__user-vcard">
      <div class="user-vcard__name">Анциферов Герман</div>
      <div class="user-vcard__short-bio">
        Привет, мир! Пишу о себе, программировании и о чем-то еще ...
      </div>
    </div>
  </div>
</header>
