<nav class="header__site-menu">
  <ul class="site-menu">
    <li class="site-menu__item">
      <%= link_to 'Архив заметок', tag_path('archive'), class: 'site-menu__link' %>
    </li>
    <li class="site-menu__item">
      <a href="https://twitter.com/mr_dxdy" title="@mr_dxdy в Twitter" class="site-menu__link" target="_blank">
        Twitter
      </a>
    </li>
    <li class="site-menu__item">
      <a href="https://github.com/mr-dxdy" title="GitHub" class="site-menu__link" target="_blank">GitHub</a>
    </li>
    <li class="site-menu__item">
      <a href="#" class="site-menu__link">Об авторе</a>
    </li>
  </ul>
</nav>
