.blog {
  padding: 20px 20px 64px 20px;

  &__aside {
    float: right;
    width: 23.3333%;
    padding-right: 20px;
  }

  &__content {
    float: left;
    width: 76.6666%;
    padding-right: 50px;

    font-family: "Helvetica Neue", Helvetica, Arial, freesans, sans-serif;

    h1, h2, h3 {
      font-weight: 500;
    }
  }
}
