.blog {
  margin-top: 20px;

  &__aside {
    float: right;
    width: 200px;
  }

  &__content {
    width: 685px;
    font-family: "Helvetica Neue", Helvetica, Arial, freesans, sans-serif;

    h1, h2, h3 {
      font-weight: 500;
    }
  }
}
