.markdown-body {
  img {
    display: block;
    margin: 0 auto;
    padding: 3px;
    border: 1px solid #d8d8d8;
  }

  .video {
    display: block;
    margin: 0 auto;
    padding: 3px;
    border: 1px solid #d8d8d8;
  }
}
