.user-photo {
  min-width: 150px;

  &__image {
    border-radius: 150px;
    transition-property: border-radius;
    transition-duration: 2s;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
    display: block;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: none;

    &:hover {
      border-radius: 1em;
    }
  }

  &__link {
    text-decoration: none;
  }
}
