  <h2 class="title article__title">
    <a href="/"><span class="octicon octicon-home title__home"></span></a>
    <span>&raquo;</span>
    <span class="title__article"><%= article.title %></span>
  </h2>
