<ul class="meta">
  <li class="meta__item">
    <span class="octicon octicon-calendar"></span>
    <%= I18n.l article.date, format: "%B %d, %Y" %>
  </li>
  <% if article.tags.any? %>
    <li class="meta__item">
      <span class="octicon octicon-file-directory"></span>
      <% article.tags.map do |tag| %>
        <%= link_to tag, tag_path(tag), class: 'meta__link' %>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="article__body markdown-body">
  <%= article.body %>
</div>
